<main class="flex items-center justify-center h-screen w-screen">
  <div class="flex flex-col items-center w-2/5">
    @if (!game.isStarted) {
    <h1>Typer</h1>
    <p>
      Typer is an app where you can test your typing skills. Please select which
      mode you want to play and press start.
    </p>

    <form id="menu" [formGroup]="startGameForm" (submit)="handleStartGame()">
      <select
        id="game-mode"
        formControlName="mode"
        class="select select-bordered w-full max-w-xs"
      >
        <option disabled selected>Select game mode</option>
        @for (mode of gameModes; track $index) {
        <option>
          {{ mode }}
        </option>
        }
      </select>

      <button type="submit" class="btn btn-primary">Start</button>
    </form>
    } @else {
    <app-typer />
    <app-stat />
    }
  </div>
</main>

<router-outlet />
