<div class="flex flex-col justify-center items-center gap-y-12">
  @if(loading) {
  <span class="loading loading-spinner loading-lg"></span>
  } @else {
  <div>
    @for (character of quote.content; track lastCorrectCharacterIndex; let index
    = $index) {
    <span
      class="text-5xl font-bold"
      [ngClass]="{ '[&>*]:border-b-2': index === input.selectionStart }"
    >
      <span
        [ngClass]="
          index | colorByIndex : lastCorrectCharacterIndex : input.value.length
        "
        >{{ character }}</span
      >
    </span>
    }
  </div>
  }

  <input
    #input
    type="text"
    class="opacity-0"
    (input)="onInputChange(input.value)"
  />
</div>
